.contact-block {
    background-color: #4B6532;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    color: white;
    gap: 20px;
    align-items: center;
    height: 400px;
}

main {
    padding: 50px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form div {
    display: flex;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sp-lab {
    font-size: 12px;
    position: relative;
    left: 20px;
    bottom: 5px;
    /* top: 20px; */
}
.remember {
    display: flex !important;
    flex-direction: row !important;
    position: relative;
    left: 20px;
    gap: 10px;
}
.sp-in {
    width: 340px;
    height: 30px;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 10px;

}

.log {
    background-color: #33491D;
    color: white;
    font-weight: 500;
    border-radius: 30px;
    height:42px;
    width: 200px;
border:none;
}
.sign {
    background-color: #E5E5E5;
    color: #4B6532;
    font-weight: 500;
    border-radius: 30px;
    height:42px;
    width: 200px;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border:none;
}
.log a, .sign a {
    font-weight: 500;
    color: white;
    text-decoration: none;
}