.about-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 30px 40px;
}
.a1-cont {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 466px;
}
.a1-cont h2 {
    font-size: 50px;
    font-weight: 800px;
}
.img-cont img {
    width: 600px;
    height: 450px;
    filter: brightness(50%);
}
.about-2 {
    padding: 0px 100px 0px 0px;
}
.story {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 50px 0px;
}
.story-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    width: 60%;
}
.story h2 {
    font-size: 50px;

}
.green {
    background-color: #9FD070;
    color: white;
    padding: 10px 20px;
}